.bg-coltec{
    background-color: rgb(236, 236, 236);
}

.fonte-coltec{
    color: rgb(9, 100, 6);
    font-weight: 80;
}

li a:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(4, 48, 3);
}